body {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  margin: 0;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 90px;
  line-height: .5em;
}

h2 {
  font-size: 24px;
  margin-top: 40px;
}

p {
  line-height: 1.5em;
}

a {
  border-bottom: 1px dotted;
  color: #00cc99;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid;
}

span {
  color: #00cc99;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
  margin-top: 100px;
}

footer a {
  border-bottom: none;
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.container {
  margin: 12% auto 0 auto;
  max-width: 600px;
}

.footer-container {
  margin: 0 auto;
  max-width: 600px;
}

.button {
  border: 2px solid;
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
}

.button:hover {
  border: 2px solid;
}

.title {
  margin-bottom: 80px;
}

.image-container {
  text-align: center;
}

img {
  border-radius: 20px;
  width: 300px;
}

.floating-button {
  border: 0;
  background-color: #00cc99;
  color: #fff;
  margin: 0;
  padding: 15px 20px;
  position: fixed;
  right: 30px;
  top: 30px;
}

.floating-button:hover {
  border:0;
}

@media (max-width: 650px) {
  .container {
    margin: 50px 20px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    line-height: normal;
  }

  .title {
    margin-bottom: 0;
  }

  .footer-container {
    margin: 20px 20px 0 20px;
  }

  footer {
    margin-top: 50px;
    padding: 20px 0;
  }

  footer a {
    margin-bottom: 20px;
  }
}
